  <div class="container">
    <h1>Add Product</h1>
    <hr>
<form  action="" [formGroup]="addProductForm"  (ngSubmit)="addProduct()">
    <input formControlName="id" class="form-control" type="text" placeholder="Enter Id" name="Id" id="Id1"> <br>
    <input formControlName="productName" class="form-control" type="text" placeholder="Enter product Name" name="name" id="Id2"> <br>

    <input formControlName="categoryId" class="form-control" type="text" placeholder="Enter categoryId" name="categoryId" id="categoryId1"
      required><br>
    <input formControlName="description" class="form-control" type="text" placeholder="Enter description" name="description" id="description1"
      required><br>
    <input formControlName="price" class="form-control" type="text" placeholder="Enter price" name="price" id="price1" required><br>
    <input formControlName="productImg" class="form-control" type="text" placeholder="Enter productImg" name="productImg" id="productImg1"
      required><br>
    <input formControlName="isAvailable" class="form-control" type="text" placeholder="Enter is-available" name="available" id="available1"
      required><br>
    <input formControlName="rating" class="form-control" type="text" placeholder="Enter rating" name="rating" id="rating1" required><br>
    <input formControlName="review" class="form-control" type="text" placeholder="Enter review" name="review" id="review1" required><br>
    <input formControlName="vendor-name" class="form-control" type="text" placeholder="Enter vendor-name" name="vendor-name" id="vendor-name1"
      required><br>
    <input formControlName=" warrenty" class="form-control" type="text" placeholder="Enter warrenty" name="warrenty" id="warrenty1" required><br>
   
    <button type="submit" class="registerbtn">Submit</button>
  </form>
  </div>
